<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <!-- 資格情報は埋め込まない。Windows認証(Integrated Security)を推奨。値は環境に合わせて設定 -->
    <add name="AtomDb" connectionString="Data Source=&lt;SERVER&gt;;Initial Catalog=&lt;DATABASE&gt;;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
